.navbarItems{
    width: 50%;
    display: none;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    gap:50px;
    height: 100%;
}

.hamburger-react{
    display: block;
}

@media (min-width: 1040px) {
    .navbarItems{
        display: flex;
    }

    .hamburger-react{
        display: none;
    }
}