.Navbar{
    padding: 30px 10% 0px 10% !important;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    background-color: white;
}

@media (min-width:1040px) {
    .Navbar{
        padding: 100px 10%;
    }
    
}

@media (min-height:500px) {
    .Navbar{
        padding: 50px 10%;
    }
}